.gps_image_box {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    list-style: none;

    width: fit-content;
    /* padding: 1em; */
    
}

.gps_image_box img { 
    height: 270px;
    width: 270px;
    border-radius: 30px;
}

.gps_image_box ol{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
}


.gps_image_box ul{
    list-style: none;
    padding: 1em;
}

.gps_image_box ul p{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    font-size: 24px;
}


.gps_image_box ul:hover{
    background: pink;
    background: linear-gradient(to bottom right, rgb(132, 176, 190), rgb(108, 196, 108), rgb(132, 176, 190));
    border-radius: 30px;
}



    
