.main{
    text-align: center;
}

body{
    background: white;
}


h1{
    color: black;
    font-size: 35px;
}

details{
    background: linear-gradient(to bottom right, rgb(132, 176, 190), rgb(108, 196, 108), rgb(132, 176, 190));
    border-radius: 20px;
    margin-top: 30px;
    font-size: 14px;
}

.text {
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

summary {
    padding: 20px;
}

summary:hover {
    cursor: pointer;
}