h1 {
    font-size: 35px;
}

p, ol li{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 2.5rem;
}

ol {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.section {
    margin-top: 20px;
    margin-bottom: 60px;
    background: linear-gradient(to bottom right, rgb(132, 176, 190), rgb(108, 196, 108), rgb(132, 176, 190));
    border-radius: 30px;
    padding-top: 1em;
}

img {
    max-width: 300px;
    display: inline block;
    margin: auto;
    margin-top: 30px;
}

#cite {
    text-align: left;
}