* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}


body {
    background-color: #eee;
}

.navigation {
    margin: auto;
    position: fixed;
    padding: 1em;
    padding-left: 10%;
    width: 100%;
    background-color: #eee;
}
.navigation a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: black;
    border-style: solid;
    border-radius: 25%;
    background-color: #f9a965;
}

.navigation a:hover {
    background-color: #e99955;
}

.navigation li{
    display: inline-block;
    margin: 10px;
}

.sidebar {
    position: fixed;
    top: 150px;
    left: 50px;
    list-style: none;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
}
  
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main{
    padding: 100px;
    background: red;
}

.footer{
    text-align: center;
    background: gray;
}

@media all and (min-width: 800px) {
    .sidebar { visibility: visible; }
}

@media all and (max-width: 800px) {
    .sidebar {visibility: hidden; }
}
